:root {
  --max-width: 800px;
  --horizontal-padding: 1.5rem;
  --max-gallery-width: 600px;
  --border-gap: 2px;
  --max-project-size: calc((var(--max-gallery-width) - (8 * var(--border-gap))) / 3);
  --project-size: calc((100vw - (2 * var(--horizontal-padding)) - (8 * var(--border-gap))) / 3);
  --overlay-max-size: 300px;
}

body {
  color: #000;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

main {
  max-width: var(--max-width);
  padding: 1rem var(--horizontal-padding);
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  text-align: center;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: #000;
}

a:hover, a:hover:visited {
  color: #777;
}

a:active, a:active:visited {
  color: #aaa;
}

ul.horizontal-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

ul.horizontal-list li {
  display: inline-block;
}

ul.horizontal-list li + li::before {
    content: " — ";
}

/* Hacky way to rearrange when list must line wrap */
@media (max-width: calc(82ch + 3rem)) {
  @media (max-width: calc(30ch + 3rem)) {
    ul.horizontal-list li {
      display: block;
    }

    ul.horizontal-list li + li::before {
      content: "";
    }
  }

  @media (min-width: calc(30ch + 3rem)) {
    ul.horizontal-list li {
      display: block;
    }

    ul.horizontal-list li + li::before {
      content: "";
    }

    ul.horizontal-list li:first-child {
      display: inline-block;
    }

    ul.horizontal-list li:first-child + li {
      display: inline-block;
    }

    ul.horizontal-list li:first-child + li::before {
        content: " — ";
    }
  }
}

section#project-gallery {
  margin: 2rem auto;
  max-width: var(--max-gallery-width);
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: var(--border-gap);
}

.project {
  position: relative;
  display: inline-block;
  width: var(--project-size);
  height: var(--project-size);
  max-width: var(--max-project-size);
  max-height: var(--max-project-size);
  overflow: hidden;
  background-color: #ddd;
  margin: var(--border-gap);
}

.project img {
  width: var(--project-size);
  height: var(--project-size);
  max-width: var(--max-project-size);
  max-height: var(--max-project-size);
}

.project .project-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.6rem;
  color: white;
  background: rgba(28, 28, 28, 0.6);
}

.project.expanded {
  opacity: 0;
}

.overlay-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(28, 28, 28, 0.6);
}

.overlay {
  position: fixed;
  width: var(--width);
  height: var(--height);
  left: calc((100vw - var(--width)) / 2);
  top: calc((100vh - var(--height)) / 2);
  padding: var(--border-gap);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.overlay img {
  width: var(--overlay-size);
  height: var(--overlay-size);
}

.overlay .content {
  width: var(--overlay-size);
  height: var(--overlay-size);
  padding: 0.75rem;
}

.overlay h2 {
  margin: 0;
  width: var(--overlay-size);
}

.overlay p {
  width: var(--overlay-size);
}

.overlay .for-line {
  font-style: italic;
  margin: 0.75rem 0 0 0;
}

.overlay .summary {
  margin: 1.5rem 0 0 0;
}

.overlay .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.2rem 0.6rem;
  text-decoration: underline;
  cursor: pointer;
  background: none;
  border: none;
}

@media screen and (orientation:portrait) {
  .overlay {
    flex-direction: column;
    --overlay-size: var(--overlay-max-size);
    --width: var(--overlay-size);
    --height: calc((2 * var(--overlay-size)) + var(--horizontal-padding));
  }

  @media (max-width: 304px) {
    .overlay {
      --overlay-size: 100vw;
    }
  }

  .overlay .close {
    color: white;
    background: rgba(28, 28, 28, 0.6);
  }
}

@media screen and (orientation:landscape) {
  .overlay {
    flex-direction: row;
    --overlay-size: var(--overlay-max-size);
    --width: calc((2 * var(--overlay-size)) + var(--horizontal-padding));
    --height: var(--overlay-size);
  }

  @media (max-width: 606px) {
    .overlay {
      --overlay-size: calc((100vw - var(--horizontal-padding)) / 2);
    }
  }
}
