:root {
  --projects-across: 3;
  --max-width: 800px;
  --max-gallery-width: 600px;
  --overlay-max-size: 300px;
  --horizontal-padding: 1.5rem;
  --border-gap: 2px;

  --total-project-gap: calc(
    2 * (var(--projects-across) + 1)
    * var(--border-gap)
  );

  --max-project-size: calc(
    (var(--max-gallery-width) - var(--total-project-gap))
    / var(--projects-across)
  );

  --project-size: calc(
    (100vw - (2 * var(--horizontal-padding)) - var(--total-project-gap))
    / var(--projects-across)
  );
}

@media (max-width: 448px) {
  :root {
    --projects-across: 2;
  }
}

body {
  color: #000;
  font: normal 400 1rem "Corbel", "Lato", sans-serif;
  margin: 0;
}

main {
  margin: 0 auto;
  max-width: var(--max-width);
  padding: 1rem var(--horizontal-padding);
  position: relative;
}

h1 {
  font-weight: 700;
  text-align: center;
}

h2 {
  font-weight: 700;
  margin: 1rem 0;
}

h3 {
  border-bottom: 0.75px solid #777;
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
}

.hidden {
  opacity: 0;
}

/* Buttons and Links */

.text-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

a,
a:visited,
.text-button {
  color: #000;
}

a.quiet,
.text-button.quiet {
  color: #777;
}

@media (hover: hover) {
  a:hover,
  a.quiet:hover,
  a:visited:hover,
  a.quiet:visited:hover,
  .text-button:hover,
  .text-button.quiet:hover {
    color: #999;
  }
}

a:active,
a.quiet:active,
a:visited:active,
a.quiet:visited:active,
a:disabled,
a.quiet:disabled,
a:visited:disabled,
a.quiet:visited:disabled,
.text-button:active,
.text-button.quiet:active,
.text-button:disabled,
.text-button.quiet:disabled {
  color: #ccc;
}

/* Contact Info */

.horizontal-list {
  list-style: none;
  padding: 0;
  text-align: center;
}

.horizontal-list a {
  text-decoration: none;
}

.horizontal-list li {
  display: inline-block;
}

.horizontal-list li + li::before {
    content: " — ";
}

/* Hacky way to rearrange when list must line wrap */
@media (max-width: calc(82ch + 3rem)) {
  @media (max-width: calc(30ch + 3rem)) {
    .horizontal-list li {
      display: block;
    }

    .horizontal-list li + li::before {
      content: "";
    }
  }

  @media (min-width: calc(30ch + 3rem)) {
    .horizontal-list li {
      display: block;
    }

    .horizontal-list li + li::before {
      content: "";
    }

    .horizontal-list li:first-child {
      display: inline-block;
    }

    .horizontal-list li:first-child + li {
      display: inline-block;
    }

    .horizontal-list li:first-child + li::before {
        content: " — ";
    }
  }
}

.corner-link {
  padding: var(--horizontal-padding);
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 420px) {
  .corner-link {
    margin-top: -0.6rem;
    padding: 0;
    position: relative;
    text-align: center;
  }
}

/* Gallery Controls */

.projects-section {
  margin: 2rem auto;
  max-width: var(--max-gallery-width);
}

.control-panel {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 0.5rem 0;
  padding: var(--border-gap) 2rem;
}

.control-panel .text-button {
  font-size: 0.85em;
}

@media (max-width: 600px) {
  .control-panel {
    padding: var(--border-gap);
  }
}

.control-panel button {
  margin: var(--border-gap);
}

/* Gallery Projects */

.gallery {
  background: #f9f9f9;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: var(--border-gap);
}

.project {
  background: #f5f5f5;
  border: none;
  display: inline-block;
  height: var(--project-size);
  margin: var(--border-gap);
  max-height: var(--max-project-size);
  max-width: var(--max-project-size);
  overflow: hidden;
  padding: 0;
  position: relative;
  width: var(--project-size);
}

.project-image {
  height: auto;
  max-height: var(--max-project-size);
  max-width: var(--max-project-size);
  object-fit: cover;
  object-position: 50% top;
  width: var(--project-size);
}

.project .project-label {
  background: rgba(28, 28, 28, 0.6);
  color: white;
  left: 0;
  padding: 0.2rem 0.6rem;
  position: absolute;
  top: 0;
}

.project.expanded {
  opacity: 0;
}

/* Gallery Overlay */

.overlay-background {
  background: rgba(28, 28, 28, 0.6);
  height: 300vmax;
  left: 0;
  position: fixed;
  top: -100vmax;
  width: 100vw;
}

.overlay {
  background: #f9f9f9;
  display: flex;
  height: var(--height);
  justify-content: flex-end;
  left: calc((100vw - var(--width)) / 2);
  overflow: hidden;
  padding: var(--border-gap);
  position: fixed;
  top: calc((100vh - var(--height)) / 2);
  width: var(--width);
}

.overlay-image {
  height: var(--overlay-size);
  width: var(--overlay-size);
}

canvas.overlay-image {
  height: auto;
  object-fit: cover;
  object-position: 50% top;
  width: var(--overlay-size);
}

.overlay-image-wrapper {
  left: var(--border-gap);
  max-height: var(--overlay-size);
  max-width: var(--overlay-size);
  overflow: hidden;
  position: absolute;
  top: var(--border-gap);
}

.overlay .content {
  --overlay-content-padding: 0.75em;
  --overlay-content-size: calc(var(--overlay-size) - (2 * var(--overlay-content-padding)));
  height: var(--overlay-content-size);
  padding: var(--overlay-content-padding);
  position: relative;
  width: var(--overlay-content-size);
}

.overlay h2 {
  margin: 0;
  width: var(--overlay-content-size);
}

.overlay p {
  width: var(--overlay-content-size);
}

.overlay .url-line {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.url-line a {
  text-decoration: none;
}

.overlay .built-line {
  font-style: italic;
  margin: 0.75rem 0 0 0;
}

.overlay .for-line {
  font-style: italic;
  margin: 0.35rem 0 0 0;
}

.overlay .summary {
  margin: 1.5rem 0 0 0;
}

.overlay .close {
  font-size: 1.1rem;
  padding: 0.3rem 0.45rem 0.6rem 0.6rem;
  position: absolute;
  right: 0;
  top: 0;
}

@media screen and (orientation:portrait) {
  .overlay {
    --height: calc((2 * var(--overlay-size)) + var(--border-gap));
    --overlay-size: var(--overlay-max-size);
    --width: var(--overlay-size);
    flex-direction: column;
  }

  @media (max-width: 304px) {
    .overlay {
      --overlay-size: 100vw;
    }
  }
}

@media screen and (orientation:landscape) {
  .overlay {
    --height: var(--overlay-size);
    --overlay-size: var(--overlay-max-size);
    --width: calc((2 * var(--overlay-size)) + var(--border-gap));
    flex-direction: row;
  }

  @media (max-width: 606px) {
    .overlay {
      --overlay-size: calc((100vw - var(--border-gap)) / 2);
    }
  }
}
