:root {
  --max-width: 800px;
  --max-gallery-width: 600px;
  --overlay-max-size: 300px;
  --horizontal-padding: 1.5rem;
  --border-gap: 2px;
  --projects-across: 3;
  --total-project-gap: calc(2 * (var(--projects-across) + 1) * var(--border-gap));
  --max-project-size: calc(
    (var(--max-gallery-width) - var(--total-project-gap))
    / var(--projects-across)
  );
  --project-size: calc(
    (100vw - (2 * var(--horizontal-padding)) - var(--total-project-gap))
    / var(--projects-across)
  );
}

@media (max-width: 448px) {
  :root {
    --projects-across: 2;
  }
}

body {
  color: #000;
  font-family: "Corbel", "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
}

main {
  position: relative;
  max-width: var(--max-width);
  padding: 1rem var(--horizontal-padding);
  margin: 0 auto;
}

h1 {
  font-weight: 700;
  text-align: center;
}

a, a:visited {
  color: #000;
}

a:hover, a:hover:visited {
  color: #777;
}

a:active, a:active:visited {
  color: #aaa;
}

ul.horizontal-list {
  list-style: none;
  text-align: center;
  padding: 0;
}

ul.horizontal-list a {
  text-decoration: none;
}

ul.horizontal-list li {
  display: inline-block;
}

ul.horizontal-list li + li::before {
    content: " — ";
}

/* Hacky way to rearrange when list must line wrap */
@media (max-width: calc(82ch + 3rem)) {
  @media (max-width: calc(30ch + 3rem)) {
    ul.horizontal-list li {
      display: block;
    }

    ul.horizontal-list li + li::before {
      content: "";
    }
  }

  @media (min-width: calc(30ch + 3rem)) {
    ul.horizontal-list li {
      display: block;
    }

    ul.horizontal-list li + li::before {
      content: "";
    }

    ul.horizontal-list li:first-child {
      display: inline-block;
    }

    ul.horizontal-list li:first-child + li {
      display: inline-block;
    }

    ul.horizontal-list li:first-child + li::before {
        content: " — ";
    }
  }
}

.corner-link {
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--horizontal-padding);
}

@media (max-width: 420px) {
  .corner-link {
    position: relative;
    text-align: center;
    margin-top: -0.6rem;
    padding: 0;
  }
}

section#project-gallery {
  margin: 2rem auto;
  max-width: var(--max-gallery-width);
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: #f9f9f9;
  padding: var(--border-gap);
}

.project {
  position: relative;
  display: inline-block;
  width: var(--project-size);
  height: var(--project-size);
  max-width: var(--max-project-size);
  max-height: var(--max-project-size);
  overflow: hidden;
  background-color: #ddd;
  margin: var(--border-gap);
}

.project-image {
  width: var(--project-size);
  height: auto;
  max-width: var(--max-project-size);
  max-height: var(--max-project-size);
  object-fit: cover;
  object-position: 50% top;
}

.project .project-label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.2rem 0.6rem;
  color: white;
  background: rgba(28, 28, 28, 0.6);
}

.project.expanded {
  opacity: 0;
}

.overlay-background {
  position: fixed;
  top: -100vmax;
  left: 0;
  width: 100vw;
  height: 300vmax;
  background: rgba(28, 28, 28, 0.6);
}

.overlay {
  position: fixed;
  width: var(--width);
  height: var(--height);
  left: calc((100vw - var(--width)) / 2);
  top: calc((100vh - var(--height)) / 2);
  padding: var(--border-gap);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;
}

.overlay-image {
  width: var(--overlay-size);
  height: auto;
  object-fit: cover;
  object-position: 50% top;
}

.overlay-image-wrapper {
  width: var(--overlay-size);
  height: var(--overlay-size);
  overflow: hidden;
}

.overlay .content {
  position: relative;
  --overlay-content-padding: 0.75em;
  --overlay-content-size: calc(var(--overlay-size) - (2 * var(--overlay-content-padding)));
  padding: var(--overlay-content-padding);
  width: var(--overlay-content-size);
  height: var(--overlay-content-size);
}

.overlay h2 {
  margin: 0;
  width: var(--overlay-content-size);
}

.overlay p {
  width: var(--overlay-content-size);
}

.overlay .url-line {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin: 0;
}

.url-line a {
  text-decoration: none;
}

.overlay .for-line {
  font-style: italic;
  margin: 0.75rem 0 0 0;
}

.overlay .summary {
  margin: 1.5rem 0 0 0;
}

.overlay .close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.3rem 0.45rem 0.6rem 0.6rem;
  text-decoration: underline;
  font-size: 1.1rem;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
}

@media screen and (orientation:portrait) {
  .overlay {
    flex-direction: column;
    --overlay-size: var(--overlay-max-size);
    --width: var(--overlay-size);
    --height: calc((2 * var(--overlay-size)) + var(--border-gap));
  }

  @media (max-width: 304px) {
    .overlay {
      --overlay-size: 100vw;
    }
  }
}

@media screen and (orientation:landscape) {
  .overlay {
    flex-direction: row;
    --overlay-size: var(--overlay-max-size);
    --width: calc((2 * var(--overlay-size)) + var(--border-gap));
    --height: var(--overlay-size);
  }

  @media (max-width: 606px) {
    .overlay {
      --overlay-size: calc((100vw - var(--border-gap)) / 2);
    }
  }
}
